.availableBox {
  background-Color: #55AA55;
  width:80vw;
  height: 10vh;
  display: inline-block;
  border-radius: 10px;
  margin-top: 2vh;
  text-align: center;
}

.unavailableBox {
  background-Color: DarkGray;
  width:80vw;
  height: 10vh;
  display: inline-block;
  border-radius: 10px;
  margin-top: 2vh;
  text-align: center;
}

.idBox{
  padding-top: 8%;
  float: left;
  width: 25%;
  height: 100%;
  display: inline-block;

}

.textBox{
  float: left;
  width: 50%;
  height: 100%;
}

.checkoutBox{
  padding-top: 5%;
  float:left;
  width: 25%;
  height: 100%;
}

.img{
  width: 40%;
}





.redBox {
  border-radius: 10px;
  margin-top: 2%;
  background-color: DarkGray;
  width:80%;
  height: 100px;
  display: inline-block;
  borderRadius: 10px;}



.greenBox {
  border-radius: 10px;
  margin-top: 2%;
  background-Color: #55AA55;
  width:80%;
  height: 100px;
  display: inline-block;
  borderRadius: 10px;
}

.button {
  float: right;
}
