.App {
  text-align: center;
  background-image: linear-gradient(skyblue, skyblue);

}

.topnav {
  background-image: linear-gradient(to right, #100F17 , #0F181E);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: 'Montserrat', sans-serif;
}

.topnav a:hover {
  background-color: skyblue;
  color: black;
}

.Pooch{
  width: 50%;
  height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.Form{
  padding-top: 1vh;
  padding-bottom: 2vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
